<ion-header [translucent]="true">
  <ion-toolbar class="header-toolbar">
    <ion-title class="header-title">Restablecer contraseña</ion-title>
    <ion-buttons slot="end">
      <ion-button class="header-button" (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <div class="reset-content">
    <div class="reset-container">
      <!-- Icono superior -->
      <div class="reset-icon">
        <ion-icon name="lock-closed-outline"></ion-icon>
      </div>

      <h2>Hola {{ email || 'usuario' }},</h2>
      <p>Ingresa tu nueva contraseña para restablecer tu cuenta</p>

      <div class="reset-form">
        <ion-item [class.invalid-input]="!isPasswordValid && newPassword">
          <ion-label position="floating">Nueva contraseña</ion-label>
          <ion-input
            [type]="showNewPassword ? 'text' : 'password'"
            [(ngModel)]="newPassword"
            (ionInput)="validatePassword(); checkPasswords()"
          ></ion-input>
          <ion-icon
            [name]="showNewPassword ? 'eye' : 'eye-off'"
            slot="end"
            (click)="toggleNewPassword()"
            class="password-toggle"
          ></ion-icon>
        </ion-item>
        <div style="padding-left: 16px">
          <ion-label class="remarks"
            >Obligatorio: 8 caracteres, 1 mayúscula y 1 número.</ion-label
          >
        </div>

        <ion-item [class.invalid-input]="!passwordsMatch && confirmPassword">
          <ion-label position="floating">Confirmar contraseña</ion-label>
          <ion-input
            [type]="showConfirmPassword ? 'text' : 'password'"
            [(ngModel)]="confirmPassword"
            (ionInput)="checkPasswords()"
          ></ion-input>
          <ion-icon
            [name]="showConfirmPassword ? 'eye' : 'eye-off'"
            slot="end"
            (click)="toggleConfirmPassword()"
            class="password-toggle"
          ></ion-icon>
        </ion-item>
      </div>

      <ion-button expand="block" class="reset-btn" (click)="resetPassword()">
        Restablecer contraseña
      </ion-button>
    </div>
  </div>
</ion-content>
