<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Nacho´s Points</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="login-content">
    <div class="login-container">
      <h2>Inicia sesión</h2>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input
          [type]="showPassword ? 'text' : 'password'"
          [(ngModel)]="password"
        >
        </ion-input>
        <ion-icon
          [name]="showPassword ? 'eye' : 'eye-off'"
          slot="end"
          class="password-toggle"
          (click)="togglePasswordVisibility()"
        >
        </ion-icon>
      </ion-item>

      <ion-button expand="block" (click)="login()">Iniciar sesión</ion-button>

      <p class="register-text">
        ¿No tienes cuenta?
        <a (click)="goToRegister()">Regístrate</a>
      </p>
    </div>
  </div>
</ion-content>
