<ion-header [translucent]="true">
  <ion-toolbar class="header-toolbar">
    <ion-title class="header-title">Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <div class="register-content">
    <div class="register-container">
      <!-- Icono superior -->
      <div class="register-icon">
        <ion-icon name="person-add-outline"></ion-icon>
      </div>

      <h2>Crea tu cuenta</h2>

      <div class="register-form">
        <!-- Nombre -->
        <ion-item [class.invalid-input]="!isNameValid">
          <ion-label position="floating">Nombre</ion-label>
          <ion-input
            type="text"
            [(ngModel)]="name"
            (ionInput)="validateName()"
          ></ion-input>
        </ion-item>

        <!-- Apellido -->
        <ion-item [class.invalid-input]="!isSurnameValid">
          <ion-label position="floating">Apellido</ion-label>
          <ion-input
            type="text"
            [(ngModel)]="surname"
            (ionInput)="validateSurname()"
          ></ion-input>
        </ion-item>

        <!-- Email -->
        <ion-item [class.invalid-input]="!isEmailValid">
          <ion-label position="floating">Email</ion-label>
          <ion-input
            type="email"
            [(ngModel)]="email"
            (ionInput)="validateEmail()"
          ></ion-input>
        </ion-item>

        <!-- Contraseña -->
        <ion-item [class.invalid-input]="!isPasswordValid && password">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input
            [type]="showPassword ? 'text' : 'password'"
            [(ngModel)]="password"
            (ionInput)="validatePassword()"
          ></ion-input>
          <ion-icon
            slot="end"
            [name]="showPassword ? 'eye' : 'eye-off'"
            (click)="togglePasswordVisibility()"
            class="password-toggle"
          ></ion-icon>
        </ion-item>
        <ion-label class="remarks">
          Obligatorio: 8 caracteres, 1 mayúscula y 1 número.
        </ion-label>

        <!-- Confirmar Contraseña -->
        <ion-item [class.invalid-input]="!passwordsMatch && confirmPassword">
          <ion-label position="floating">Confirmar Contraseña</ion-label>
          <ion-input
            [type]="showConfirmPassword ? 'text' : 'password'"
            [(ngModel)]="confirmPassword"
            (ionInput)="checkPasswords()"
          ></ion-input>
          <ion-icon
            slot="end"
            [name]="showConfirmPassword ? 'eye' : 'eye-off'"
            (click)="toggleConfirmPasswordVisibility()"
            class="password-toggle"
          ></ion-icon>
        </ion-item>
      </div>

      <!-- Botón principal -->
      <ion-button expand="block" class="register-button" (click)="register()">
        Registrarse
      </ion-button>

      <!-- Texto inferior -->
      <p class="login-text">
        ¿Ya tienes cuenta?
        <a routerLink="/login">Inicia sesión</a>
      </p>
    </div>
  </div>
</ion-content>
