.home-content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.user-card {
  background-color: #f5f5f5;
  padding: 25px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 400px;
}

.user-card h2 {
  margin-bottom: 15px;
  color: var(--ion-color-primary);
}

.user-card p {
  margin: 5px 0;
  font-size: 1.1rem;
}

/* Puntos circulares */
.points-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  gap: 8px;
}

.point {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: lightgray;
  transition: background-color 0.3s ease;
}

.point.filled {
  background-color: var(--ion-color-primary);
}

/* Combos */
.combos-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 10px;
}

.combo-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 5px 5px;
  border-radius: 12px;
  border: 2px solid gold;
}

.combo-icon {
  font-size: 28px;
  color: gold;
}
